# JWT
JWT__KEY==ThisIsASecureKeyThatIsAtLeast32Chars!
JWT__VALIDISSUERS=
JWT__VALIDAUDIENCES=
JWT__TOKENEXPIREINHOURS=24
JWT__REFRESHTOKENEXPIREINDAYS=7

# Connection Strings
CONNECTIONSTRINGS__POSTGRESCONNECTIONSTRING=

# Allowed Hosts
ALLOWEDHOSTS=*

# SMTP Settings
SMTPSETTINGS__HOST=
SMTPSETTINGS__PORT=
SMTPSETTINGS__USESSL=
SMTPSETTINGS__USERNAME=
SMTPSETTINGS__PASSWORD=
SMTPSETTINGS__FROMADDRESS=
SMTPSETTINGS__FROMNAME=PARENTEE
